{% extends "base.html" %}

{% block content %}
    <h1>Sign Up!</h1>

    <p>Already have an account? sign in <a href="/login">here</a>! </p>
    <form method='POST'>
        Username:
        <input type="text" id='username' name='username' value ="{{username}}">
        <p class="error">{{username_error}}</p>
        <br>
        Password:
        <input type="password" id='password' name='password'>
        <p class="error">{{password_error}}</p> 
        <br>
        Confirm Password:
        <input type="password" id='passwordconf' name='passwordconf'>
        <p class="error">{{passwordconf_error}}</p>
        <br>
        <input type="submit" value='Sign Up' />
    </form>

{% endblock %}